[submodule "glsl-mode"]
	path = glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "gist"]
	path = gist
	url = https://github.com/defunkt/gist.el
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
